table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 10px;
}

th {
    background-color: #444;
    color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;

    .mastery-state-0 {
        background-color: rgb(92, 233, 92);
    }

    .mastery-state-1 {
        background-color: rgb(238, 238, 119);
    }

    .mastery-state-2 {
        background-color: rgb(235, 130, 130);
    }
}

tr:nth-child(odd) {

    .mastery-state-0 {
        background-color: lightgreen;
    }

    .mastery-state-1 {
        background-color: rgb(242, 242, 178);
    }

    .mastery-state-2 {
        background-color: rgb(239, 164, 164);
    }
}


@media screen and (max-width: 600px) {

    th,
    td {
        font-size: 70%;
    }
}