<link rel="stylesheet" href="/static/css/clan-menu.css">
<link rel="stylesheet" href="/static/css/vertical-menu.css">

<h2>Clan list</h2>

<div>
    {% for clan in clan_list %}

    <div class="clan-container">
        <div class="left">
            <strong>{{ clan["name"] }}</strong> ({{ clan["members"] }} members)
            <br>
            <strong>Leader: </strong>{{ clan["leader"] }}
        </div>




        <div class="button-right">
            <a href='/clans/{{clan["name"]}}/progress'>View</a>
        </div>

        {% if clan["is_leader"] %}
        <div class="button-right">
            <a href='/clans/{{clan["name"]}}/manage'>Manage</a>
        </div>
        {% else %}
        <div class="button-right">
            <a href='javascript:leave("{{clan["name"]}}")'>Leave</a>
        </div>
        {% endif %}
    </div>

    {% endfor %}
</div>


<br>

<div class="vertical-menu">
    <a href="/clans/create">Create clan</a>
</div>

<script src="/static/js/clan-manage.js"></script>