<link rel="stylesheet" href="/static/css/form.css">

<div style="width: 50%; margin-top: 10%; margin-left: 25%; margin-right: 25%;">
    <form method="post" action="/change_password">
        {{form.hidden_tag()}}
        {{ form.old_password.label(class_='form-label') }}
        {{ form.old_password(class_='form-control') }}
        {{ form.new_password.label(class_='form-label') }}
        {{ form.new_password(class_='form-control') }}
        {{ form.password_repeat.label(class_='form-label') }}
        {{ form.password_repeat(class_='form-control') }}
        <button class="form-button" type="submit">Change password</button>
    </form>
</div>