<link rel="stylesheet" href="/static/css/table.css">

<table>
    <thead>
        <tr>
            <th id="itemNameHead" onclick="sortList('itemName')">Item name</th>
            <th id="classHead" onclick="sortList('class')">Item Class</th>
            <th id="ownedHead" onclick="sortList('owned')">Owned</th>
            <th id="masteredHead" onclick="sortList('mastered')">Mastered</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {% for item in itemList %}

        <tr>
            <td>{{ item["name"] }}</td>
            <td>{{ item["class"] }}</td>
            <td>{{ item["owned"] }}</td>
            <td>{{ item["mastered"] }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>

<script src="/static/js/progress.js"></script>
<script>
    let list = JSON.parse('{{  itemList|tojson }}')
</script>