<link rel="stylesheet" href="/static/css/vertical-menu.css">
<link rel="stylesheet" href="/static/css/form.css">

<h2>
    Account settings
    <span style="font-weight: normal;"> - {{ username|safe }}</span>
</h2>

<br>



<div class="vertical-menu">
    <a href="/change_password">Change password</a>
</div>

<br>
<hr>

<h4>Warframe account link status:</h4>


{% if warframe_name == "" %}

<i>Not linked</i>

<br><br>

<div class="vertical-menu">
    <a href="/link_account">Link account</a>
</div>

{% else %}

Linked - {{warframe_name}}

<br><br>

<div class="vertical-menu">
    <a href="javascript:unlink()">Unlink account</a>
</div>

{% endif %}





<script>
    function unlink() {
        if (confirm("Are you sure you want to unlink your account? All of your progress will be lost!")) {
            window.location = "/unlink_account"
        }
    }
</script>