@layer utilities {
    .d-flex { display: flex !important; }
    .text-danger { color: var(--color-danger) !important; }
    .float-end { float: right !important; }
    .muted { color: var(--color-muted) !important; }
}
